
<ion-header dir="rtl">

  <ion-header>
    <ion-title>משתמש חדש</ion-title>
  </ion-header>

</ion-header>

<ion-content padding dir="rtl">
  <!-- <ion-item class="nameBox"> 
    <ion-label color="primary" floating>שם ומשפחה</ion-label>
    <ion-input type="number" [(ngModel)]="name" name="name" required="required" ></ion-input>
  </ion-item>
  <ion-item class="employeeNumBox"> 
    <ion-label color="primary" floating>מספר עובד</ion-label>
    <ion-input type="number" [(ngModel)]="employeeNum" name="employeeNum" required="required" ></ion-input>
  </ion-item>
  <ion-item class="mailBox">
    <ion-label color="primary" floating>מייל</ion-label>
    <ion-input type="email" [(ngModel)]="email" name="email" required="required"></ion-input>
  </ion-item>
  <ion-item class="phoneBox">
    <ion-label color="primary" floating>פלאפון</ion-label>
    <ion-input type="number" [(ngModel)]="phone" name="phone" required="required"></ion-input>
  </ion-item>
  <ion-item class="occupation"> 
    <ion-label>תפקיד</ion-label>
    <ion-select [(ngModel)]="occupation" dir="rtl">
      <ion-option >אדמיניסטרטיבי</ion-option>
      <ion-option >רפואה</ion-option>
      <ion-option >קלינאות תקשורת</ion-option>
      <ion-option >ריפוי בעיסוק</ion-option>
      <ion-option >משאבי אנוש</ion-option>
      <ion-option class="textOpshen" (click)="occupationText()" >אחר</ion-option>
    </ion-select>
  </ion-item>
  <ion-item class="passwordBox">
    <ion-label color="password" floating>בחר סיסמה</ion-label>
    <ion-input type="password" [(ngModel)]="password" name="password" required="required"></ion-input>
  </ion-item>
  <ion-item>
    <button ion-button ful *ngIf="email && password" color="danger"  (click)="SubmitLoginForm()" >שמירה</button>
  </ion-item> -->
</ion-content>
