.container{
    // //background-image: radial-gradient(circle, rgb(255, 251, 251), rgb(241, 117, 14),rgb(19, 176, 248));
    // background: red; /* For browsers that do not support gradients */
    // //background-image: radial-gradient(red, yellow, green); /* Standard syntax (must be last) */
    // background-color: aquamarine;
}



.logo{
    margin-bottom: 53px;
    margin-top: 38px;
}

.submit{
    margin-top: 220px;
    padding-right: 50px;
    padding-left: 50px;
}