

    ion-content{
        --background: url('../../assets/pics/backgroundLogo360x640.png');
        
    }

    .passwordBox{
        --ion-background-color: white;
        margin-top: 260px;
        --border-radius: 30px;
        width: fit-content;
        margin-right: 27px;
        --border-color:blue;
    
    }
    .submit{
        margin-top: 150px;
    }

    .ion-alert{
        --ion-background-color: red;
    }



    @media only screen and (max-width: 375px ){

        ion-content{
            //--ion-background-color: radial-gradient(circle, rgba(255, 254, 254, 0.3), rgba(247, 155, 34, 0.3),  rgba(30, 124, 247, 0.3));
            --background: url('../../assets/pics/backgroundLogo375x667.png');
        }
    }

   

