
<ion-content padding dir=rtl>
  <div>
      <ion-list>
          <ion-item>
              <img class="logo" src="../../assets/pics/logo.jpg" alt="logo">
              <div>HireME</div>
          </ion-item>
          <ion-item>
              <ion-label stacked>סיסמה</ion-label>
              <ion-input type="password"  [(ngModel)]="employeeNum"  required="required"></ion-input>
          </ion-item>
          <div padding text-center>
              <ion-button ion-button class = "submit"  round (click)="submitLogin()">כניסה</ion-button>
          </div>
      </ion-list>
  </div>
</ion-content>
