<ion-header>
  <ion-toolbar>
    <ion-title text-center>salary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div>
      <ion-list text-right>
          <ion-item text-right>
                 <ion-label position="floating">todo automatic-שם מועמד</ion-label>
                <ion-input type="text" [(ngModel)]="CandidateName" name="CandidateName" required="required"></ion-input>
          </ion-item>
          <ion-item>
                    <ion-toggle ng-model="allfilesaccepted" ></ion-toggle>
                    <ion-label text-right>התקבלו כל הקבצים</ion-label>
         </ion-item>

          <ion-item text-right> 
                  <ion-label text-right>תאריך שליחה למ"א</ion-label>
                  <ion-datetime display-format="DD/MM/YYYY" type="date" [(ngModel)]="date" name="date1" required="required"></ion-datetime>
          </ion-item>
          <ion-item text-right> 
                  <ion-label text-right>תאריך קבלה למ"א</ion-label>
                  <ion-datetime display-format="DD/MM/YYYY" type="date" [(ngModel)]="date" name="date2" required="required"></ion-datetime>
          </ion-item>
          <ion-item text-right> 
                  <ion-label text-right>תאריך שליחה למועמד</ion-label>
                  <ion-datetime display-format="DD/MM/YYYY" type="date" [(ngModel)]="date" name="date3" required="required"></ion-datetime>
           </ion-item>
          <ion-item text-right> 
                <ion-label text-right>תאריך קבלה מועמד</ion-label>
                <ion-datetime display-format="DD/MM/YYYY" type="date" [(ngModel)]="date" name="date4" required="required"></ion-datetime>
        </ion-item>
        
        <ion-item>
               <ion-toggle ng-model="answer" ></ion-toggle>
               <ion-label text-right >תשובה</ion-label>
        </ion-item>


      </ion-list>
  </div>
  </ion-content>
