$haedline-color:  rgb(26, 98, 252);

ion-list{
    border-radius: 14px;
    padding-bottom: 20px;

    ion-checkbox{
        margin: 10px 5px -10px 5px;
    }
}


ion-item{
    
    ion-label{
        margin-right: 10px;
    }

    ion-card-title{
        margin: 20px 0px 20px 0px;
    }

    ion-note{
        margin-right: 10px;
    }
}
.ffff{
    margin: 0px 0px 0px 16px;
}
.note{
    font-size:  16px;
    margin: 25px 20px 10px 0px; 
    color: $haedline-color;
}

.subNote{
    font-size:  20px;
    color: $haedline-color;
    margin: 28px 12px 0px 0px;
}
