<ion-header>
  <ion-toolbar mode='ios'>
      <ion-title>
        <ion-row>
            <ion-col >
                <ion-icon name="home" float-right (click)='station.navFunction(2)' ></ion-icon>
            </ion-col>
            <ion-col>
                <ion-icon float-right name="arrow-round-forward" (click)='station.navFunction(1)' ></ion-icon>
            </ion-col>
          </ion-row>
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list text-right>
        <ion-card-title class="note" text-center >בשלב זה יש למלא את פרטי הראיון האישי</ion-card-title>
        <ion-item text-right class='interviewerHedar'>
          <ion-label> {{candidateName}} </ion-label>
          <ion-label > <strong>ראיון עבור</strong> </ion-label>
        </ion-item>
        <ion-item text-right>
          <ion-input type="text" [(ngModel)]="interviewerName" (ionBlur)='setData(interviewerName,1)' name="interviewer" required="required"></ion-input>
          <ion-label><strong>מראיין</strong></ion-label>
          <ion-note *ngIf='interviewerName' text-right class="userUp" >עודכן ע"י: {{ userSetInterviewer }}</ion-note>
        </ion-item>
        <ion-item text-right>
          <ion-datetime display-format="DD/MM/YYYY" type="date" (ionFocus)='setData(date,2)' [(ngModel)]="date" name="date" required="required" ></ion-datetime> 
          <ion-label text-right>תאריך ראיון</ion-label>
          <ion-note *ngIf='interviewerName' text-right class="userUp" >עודכן ע"י: {{ userSetDate }}</ion-note>
        </ion-item>
        <!-- <ion-list >
            <div text-right class="subNote">עבור משרה</div>
            <ion-label class='ffff' >תקן</ion-label>
            <ion-checkbox mode='ios' [checked]='job == 1' (ionFocus)='setRdiuoInterview("job",1)' ></ion-checkbox>
            <ion-label class='ffff' >ממלא מקום</ion-label>
            <ion-checkbox mode='ios' [checked]='job == 2' (ionFocus)='setRdiuoInterview("job",2)' ></ion-checkbox>
        </ion-list> -->
        <!-- <ion-item text-right>
          <ion-input type="text" [(ngModel)]="replacedName" (ionBlur)='setData(replacedName,4)' name="replacedName" required="required"></ion-input>
          <ion-label> {{replacedName}} </ion-label>
          <ion-label><strong>עבור</strong></ion-label>
          <ion-note *ngIf='replacedName' text-right class="userUp" >עודכן ע"י: {{ setreplacedName }}</ion-note>
        </ion-item> -->
        <ion-item >
            <ion-button small  (click)='setData(discription,3)'>{{saveButton}}</ion-button>
            <ion-label text-right >תקציר הראיון</ion-label>
        </ion-item>
        <ion-item>
            <ion-textarea type="text" text-right *ngIf='!discriptionSet' placeholder="הוסף תקציר" [(ngModel)]="discription" name="discription" ></ion-textarea>
            <ion-text *ngIf='discriptionSet' > {{discription}} </ion-text>
            <ion-note *ngIf='discriptionSet' text-right class="userUp" >עודכן ע"י: {{ userSetInterviewer }}</ion-note>
          </ion-item>
    </ion-list>
</ion-content>


