<ion-header text-center>
  <ion-toolbar>
    <ion-title>ראיון</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header text-right> 
          <ion-row>
            <ion-co> 
              <ion-card-title>שם מראין</ion-card-title>
            </ion-col> 
            </ion-row>
            <ion-row>
              <ion-card-title class="candidateID">{{candidateNum}}</ion-card-title>
            </ion-row>
            <ion-row>
              <ion-card-title class="candidateID">{{candidateNum}}</ion-card-title>
            </ion-row>
            <ion-row>
              <ion-card-title class="candidateID">{{candidateNum}}</ion-card-title>
            </ion-row>
        </ion-card-header>
      </ion-card>
</ion-content>
