
<ion-content text-center padding >

      <ion-card class="cardBox" *ngFor="let department of departmentArr;"  (click) ="moveToDepartmentCandidate(department)">
          <ion-card-header class="departmentCard"
            > 
            <ion-row>
              <ion-col>
                <ion-card-title 
                  [ngStyle]="{'opacity': admin == true ? 1 : (user_dep == department ? 1 : 0.3)}">
                  {{department}}</ion-card-title>
              </ion-col>
            </ion-row>
          </ion-card-header>
        </ion-card>
  
</ion-content>
