<ion-header>
  <ion-toolbar mode='ios'>
      <ion-title>
        <ion-row>
            <ion-col >
                <ion-icon name="home" float-right (click)='station.navFunction(2)' ></ion-icon>
            </ion-col>
            <ion-col>
                <ion-icon float-right name="arrow-round-forward" (click)='station.navFunction(1)' ></ion-icon>
            </ion-col>
          </ion-row>
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
      <ion-list text-right>
        <ion-item text-right class='interviewerHedar'>
          <ion-label> {{station.candidateName}} </ion-label>
          <ion-label > <strong>מבחן עבור</strong> </ion-label>
        </ion-item>
        <ion-item text-right> 
          <ion-datetime display-format="DD/MM/YYYY"  
                        [(ngModel)]="test" 
                        required="required"
                        (ionFocus) = 'savePsifas(test,1)'></ion-datetime>
          <ion-label text-right>:זומן לתאריך</ion-label>
          <ion-note *ngIf='userSetTest' text-right class="userUp" >עודכן ע"י: {{ userSetTest }}</ion-note>
        </ion-item>
        <ion-item >
          <ion-input  [(ngModel)]="grade" 
                      (ionBlur)='savePsifas(grade,2)'
                      float-center ></ion-input>
          <ion-label  text-right>:ציון</ion-label>
          <ion-note *ngIf='userSetGrade' text-right class="userUp" >עודכן ע"י: {{ userSetGrade }}</ion-note>
        </ion-item>
        <ion-item text-right>
          <ion-label>הוסף מסמך</ion-label>
          <!-- <ion-input type="text" [(ngModel)]="discription" name="discription" required="required"></ion-input> -->
        </ion-item>   
        <ion-item>
          <ion-toggle [(ngModel)]="pass"></ion-toggle>
          <ion-label text-right >?האם עבר</ion-label>
        </ion-item>
      </ion-list>
</ion-content>
