$haedline-color:  rgb(26, 98, 252);

ion-list{
    border-radius: 14px;
    padding-bottom: 20px;
}

ion-item{
    ion-label{
        margin: 0px 8px 10px 0px;
        font-size: 17px;
       
    }
}

ion-button{
    margin: 30px 10px 10px 10px;
}