<ion-header text-center>
  <ion-toolbar>
    <ion-title>{{department}}
      <ion-icon float-right name="arrow-round-forward" (click)='station.navFunction(2)' ></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card text-right class="allCandidates" *ngFor="let candidate of allCandidates;"  (click) ="goToCandidate(candidate)"  >
      <ion-card-header> 
        <ion-row>
          <ion-col>
            <ion-card-title class="stationName">{{candidate.name}}
              <ion-card-title float-left >{{candidate.progress}}%</ion-card-title>
            </ion-card-title>
          </ion-col>
        </ion-row>
      </ion-card-header>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed" (click) ="goToNewCandidate()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
