<ion-header text-center>
  <ion-toolbar>
    <ion-title>{{department}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card text-right class="allCandidates" *ngFor="let candidate of allCandidates; let i = index"  (click) ="goToCandidate(candidate)"  >
        <ion-card-header> 
          <ion-row>
            <ion-col>
              <ion-card-title class="stationName">{{candidate}}</ion-card-title>
              <ion-card-title float-left >%</ion-card-title>
            </ion-col>
          </ion-row>
        </ion-card-header>
    </ion-card>
</ion-content>
