<ion-header>
  <ion-toolbar>
    <ion-title text-right >חובקן טפסים</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list text-right>
    <ion-item>  
      <ion-card-title text-right >בשלב זה יש לשלוח למועמד את הטפסים הבאים</ion-card-title>
    </ion-item>
    <ion-item> 
        <ion-row>
          <ion-col>
              <ion-card-title text-left *ngIf="sendShow"> {{getSendDate()}} </ion-card-title>
              <ion-datetime *ngIf="!sendShow" [(ngModel)]="tast" display-format="MM/DD/YYYY"></ion-datetime> 
          </ion-col>
          <ion-col>
              <ion-label text-right>נשלח למועמד בתאריך</ion-label>
          </ion-col>
        </ion-row> 
    </ion-item>
    <ion-item>  
        <ion-label text-right>חזר מהמועמד בתאריך</ion-label>
        <ion-datetime [(ngModel)]="sendDate" display-format="MM/DD/YYYY"></ion-datetime>
    </ion-item>
    <ion-list>  
        <ion-label>סמן את הטפסים שחזרו</ion-label>
        <ion-item>
            <ion-label text-right>טופס 101</ion-label>
            <ion-radio slot="start" value="biff" ></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label text-right>חוזה העסקה</ion-label>
            <ion-radio slot="start" value="biff" ></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label  text-right >ויתור סודיות</ion-label>
            <ion-radio slot="start" value="biff" ></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label  text-right >אישור בטחוני</ion-label>
          <ion-radio slot="start" value="biff" ></ion-radio>
        </ion-item>
    </ion-list>
    <ion-item>
      <ion-label  text-right>האם יש טפסים נוספים הנחוצים</ion-label>
    </ion-item>
    <ion-item>
        <ion-label  text-right>האם הכל תקין</ion-label>
        <ion-toggle ></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
