<ion-header>
  <ion-toolbar>
    <ion-title text-center >חובקן טפסים</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list text-right> 
      <ion-card-title class="note" text-right >בשלב זה יש לשלוח למועמד את הטפסים הבאים</ion-card-title>
    <ion-item >       
      <ion-datetime  [(ngModel)]="sendDate" (ionFocus)='setDate(sendDate,true)' display-format="MM/DD/YYYY"></ion-datetime>
      <ion-label text-right >נשלח למועמד בתאריך</ion-label> 
      <ion-note  *ngIf='sendDate' text-right class="userUp" >עודכן ע"י: {{userNameSend}}</ion-note>
    </ion-item>
    <ion-item>  
        <ion-datetime [(ngModel)]="returnDate" (ionFocus)='setDate(returnDate,false)' display-format="MM/DD/YYYY"></ion-datetime>
        <ion-label text-right >חזר מהמועמד בתאריך</ion-label>
        <ion-note *ngIf='returnDate' text-right class="userUp" >עודכן ע"י: {{ userNameReturn }}</ion-note>
    </ion-item>
    <ion-list id="formList"> 
          <div text-right class="subNote">סמן את הטפסים שחזרו</div>
        <ion-item>
            <ion-label text-right>טופס 101</ion-label>
            <ion-radio  [checked]='f101' slot="start" value="biff" (ionFocus)='setRdiuoForms("f101")'></ion-radio>
            <ion-note *ngIf='f101' text-right class="userUp" >עודכן ע"י: {{set101}}  </ion-note>
        </ion-item>
        <ion-item>
            <ion-label text-right>חוזה העסקה</ion-label>
            <ion-radio  [checked]='f102' slot="start" value="biff"  (ionFocus)='setRdiuoForms("f102")' ></ion-radio>
            <ion-note *ngIf='f102' text-right class="userUp" >עודכן ע"י: {{set102}}  </ion-note>
        </ion-item>
        <ion-item>
            <ion-label  text-right >ויתור סודיות</ion-label>
            <ion-radio [checked]='f103' slot="start" value="biff" (ionFocus)='setRdiuoForms("f103")' ></ion-radio>
            <ion-note *ngIf='f103' text-right class="userUp" >עודכן ע"י: {{set103}}  </ion-note>
        </ion-item>
        <ion-item>
            <ion-label  text-right >אישור בטחוני</ion-label>
            <ion-radio [checked]='f104' slot="start" value="biff"  (ionFocus)='setRdiuoForms("f104")' ></ion-radio>
            <ion-note *ngIf='f104' text-right class="userUp" >עודכן ע"י: {{set104}}  </ion-note>
        </ion-item>
    </ion-list>
    <ion-item lines="none">
        <ion-label  text-right >הוסף טופס</ion-label>
    </ion-item>
    <ion-item class="moreform">
      <ion-button small  (click)='addFrom()'>הוסף</ion-button>
      <ion-textarea text-right [(ngModel)]="newForm" placeholder="שם הטופס"></ion-textarea>
    </ion-item>
    <ion-item lines="none">
        <ion-toggle ></ion-toggle>
        <ion-label  text-right>האם הכל תקין</ion-label>
    </ion-item>
    
      
  </ion-list>
</ion-content>
