<ion-header>
  <ion-toolbar>
    <ion-title>forms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list text-right>
    <ion-item>  
      <ion-label>בשלב זה יש לשלוח למועמד את הטפסים הבאים</ion-label>
    </ion-item>
    <ion-item>  
        <ion-label text-right >נשלח למועמד בתאריך</ion-label>
        <!-- <ion-label text-right >{{data.id}} yyyyy </ion-label> -->
        <ion-datetime [(ngModel)]="sendDate" display-format="MM/DD/YYYY"></ion-datetime>
    </ion-item>
    <ion-item>  
        <ion-label text-right>חזר מהמועמד בתאריך</ion-label>
        <ion-datetime [(ngModel)]="sendDate" display-format="MM/DD/YYYY"></ion-datetime>
    </ion-item>
    <ion-list>  
        <ion-label>סמן את הטפסים שחזרו</ion-label>
        <ion-item>
            <ion-label text-right>טופס 101</ion-label>
            <ion-radio slot="start" value="biff" ></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label text-right>חוזה העסקה</ion-label>
            <ion-radio slot="start" value="biff" ></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label  text-right >ויתור סודיות</ion-label>
            <ion-radio slot="start" value="biff" ></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label  text-right >אישור בטחוני</ion-label>
          <ion-radio slot="start" value="biff" ></ion-radio>
        </ion-item>
    </ion-list>
    <ion-item>
      <ion-label  text-right>האם יש טפסים נוספים הנחוצים</ion-label>
    </ion-item>
    <ion-item>
        <ion-label  text-right>האם הכל תקין</ion-label>
        <ion-toggle ></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
