<ion-header dir=rtl>
  <ion-toolbar>
    <ion-title>{{department}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding dir=rtl>
  <ion-card class="candidateData">
    <ion-card-header> 
      <ion-row>
        <ion-col>
          <ion-card-title class="candidateName">עמית ג'סקורט</ion-card-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-card-title class="candidatRoll">פיזוטרפיה</ion-card-title>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-card-title class="candidateID">999888666</ion-card-title>
      </ion-row>
      <ion-row>
          <ion-card-title class="candidateLisens">1234567</ion-card-title>
      </ion-row>
      <ion-row>
          <ion-card-title class="candidatePhone">052-888776</ion-card-title>
      </ion-row>
      <ion-row>
          <ion-card-title class="candidateStartDate">2/5/2020</ion-card-title>
      </ion-row>
    </ion-card-header>
  </ion-card>
</ion-content>



  