<ion-header text-right>
  <ion-toolbar>
    <ion-title>
      <ion-row >
        <ion-col >{{department}}<ion-icon id="pathArrow" name="arrow-dropleft"> </ion-icon> {{currCandidat.name}} </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <ion-card class="candidateData">
    <ion-card-header text-right > 
      <ion-grid>
          <ion-row> 
            <ion-item lines='none'>
              <ion-card-title class="headers"><h3 >{{currCandidat.name}}</h3></ion-card-title>
          </ion-item> 
        </ion-row>
        <ion-row>
          <ion-col><ion-card-title text-right class="candidateID">{{currCandidat.id}}</ion-card-title></ion-col>
          <ion-col><ion-card-title text-right class="headers">:תז</ion-card-title></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><ion-card-title class="candidateLisens">{{currCandidat.phone}}</ion-card-title></ion-col>
          <ion-col> <ion-card-title class="headers">:פאלפון</ion-card-title></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><ion-card-title class="candidateLisens">{{currCandidat.lisens}}</ion-card-title></ion-col>
          <ion-col><ion-card-title class="headers">:מס' רשיון</ion-card-title></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><ion-card-title class="candidateLisens">{{tempDate}}</ion-card-title></ion-col>
          <ion-col><ion-card-title class="headers">:תחילת תהליך</ion-card-title></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>
    <ion-card text-right class="station" *ngFor="let station of candidateaStationList; let i = index"  (click) ="stationRouting(i,station)"  >
        <ion-card-header> 
          <ion-row>
            <ion-col>
              <ion-card-title class="stationName">{{station}}
                <ion-card-title float-left >{{progress}}%</ion-card-title>
              </ion-card-title>
            </ion-col>
          </ion-row>
        </ion-card-header>
      </ion-card>
      <ion-button expand="block" strong color='danger' (click) = 'closeCandidate()' >סגירת מועמד</ion-button>
     </ion-content>




    
