<ion-header text-right>
  <ion-toolbar>
    <ion-title>
      <ion-row >
        <ion-col >{{department}}<ion-icon id="pathArrow" name="arrow-dropleft"> </ion-icon> {{currCandidat.name}} </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <ion-card class="candidateData">
    <ion-card-header text-right> 
      <ion-row>
        <ion-col>
            <div class="dataCol">
              <ion-card-title class="candidateID">{{currCandidat.id}}</ion-card-title>
              <ion-card-title class="candidateLisens">{{currCandidat.lisens}}</ion-card-title>
              <ion-card-title class="candidatePhone">{{currCandidat.phone}}</ion-card-title>
              <ion-card-title class="candidateStartDate">2/5/2020</ion-card-title>
            </div>
          </ion-col>
          <ion-col >
              <div class="headerColTitle" >
                <ion-card-title >{{currCandidat.name}}</ion-card-title>
                <ion-card-title >{{department}}</ion-card-title>
              </div>
              <div >
                <ion-card-title class="candidateID">תז:</ion-card-title>
                <ion-card-title class="candidateLisens"> :מס' רשיון</ion-card-title>
                <ion-card-title class="candidatePhone">פאלפון: </ion-card-title>
                <ion-card-title class="candidateStartDate">תחילת תהליך: </ion-card-title>
              </div>
            </ion-col>
        </ion-row>
    </ion-card-header>
  </ion-card>
    <ion-card text-right class="station" *ngFor="let station of candidateaStationList; let i = index"  (click) ="stationRouting(i,station)"  >
        <ion-card-header> 
          <ion-row>
            <ion-col>
              <ion-card-title class="stationName">{{station}}
                <ion-card-title float-left >{{progress}}%</ion-card-title>
              </ion-card-title>
            </ion-col>
          </ion-row>
        </ion-card-header>
      </ion-card>
      <ion-button expand="block" strong color='danger' (click) = 'closeCandidate()' >סגירת מועמד</ion-button>
     </ion-content>




    
