.dataCol{
    padding-top: 52px;
}

.candidateData{
    --background: white;
}

.station{
    --background: white;
    --color: white;
}

.headerColTitle{
   
    --color: white;
}

#pathArrow{
    color: rgb(20, 111, 247);
    
   
}

on-icon{
   --ion-margin-top: 5px;
}

